<header>
    <div id="div-header-logo">
        <h2>Cantina</h2>
        <h1>SENAC</h1>
    </div>

    <div id="div-header-frase-efeito">
        <p>Compartilhe seus pensamentos</p>
        <p>com seus colegas</p>
    </div>

    <div id="div-header-avatar">
        <button></button>
        <div id="div-header-avatar-nome">
            <h3>Nome Perfil</h3>
            <a href="javascript:void(0)">Editar perfil</a>
        </div>
    </div>
</header>
<main>
    <h2>Mural de Feedbacks</h2>
    <div class="div-feedbacks" *ngFor="let feedback of feedbacks">
        <app-card-feedback [feedback] = "feedback" ></app-card-feedback>
    </div>

</main>
<button class="btn-avatar">
            <span>+</span>
        </button>