<div class="div-principal">
    <header class="cabecalho">
        <h2>Cantina Senac</h2>
        <h4>Compartilhe blablabla</h4>
        <div class="div-perfil">
            <div class="BOLA"></div>
            <div class="div-bola-fortatacao">
                <h5>PERFIFIFLFIL</h5>
                <p>Editar</p>
            </div>
        </div>
    </header>
    <section class="sec-comentarios">
        <h3>Mural de Feedbacks</h3>
        <article class="art-comentario">
            <div class="BOLA bola-comentarios"></div>
            <div class="div-bola-fortatacao">
                <h3>ARTIGIGIGI</h3>
                <p>Lorem blablabla</p>
                <span class="span-comentarios">? Comentários</span>
                <span class="span-comentar">Comentar</span>
            </div>
        </article>
        <article class="art-comentario">
            <div class="BOLA bola-comentarios"></div>
            <div class="div-bola-fortatacao">
                <h3>ARTIGIGIGI</h3>
                <p>Lorem blablabla</p>
                <span class="span-comentarios">? Comentários</span>
                <span class="span-comentar">Comentar</span>
            </div>
        </article>
        <article class="art-comentario">
            <div class="BOLA bola-comentarios"></div>
            <div class="div-bola-fortatacao">
                <h3>ARTIGIGIGI</h3>
                <p>Lorem blablabla</p>
                <span class="span-comentarios">? Comentários</span>
                <span class="span-comentar">Comentar</span>
            </div>
        </article>
    </section>
    <button class="btn-avatar">
        <span>+</span>
    </button>
</div>