<div class="div-principal">
    <header class="cabecalho">
        <div id="div-header-titulo">
        <h2>Cantina</h2>
        <h1>SENAC</h1>
        </div>
        <div id="div-header-blablabla">
        <h3>Compartilhe seus pensamentos</h3>
        <h3>com seus colegas</h3>
        </div>
        <div class="div-perfil">
            <button class="BOLA"></button>
            <div class="div-bola-fortatacao">
                <h4>PERFIFIFLFIL</h4>
                <a href="feedback">Editar</a>
            </div>
        </div>
    </header>
    <main class="sec-comentarios">
        <h3 id="mural-feedbacks">Mural de Feedbacks</h3>
        <app-card-feedback id="app-card-feedback"></app-card-feedback>
    </main>
    <button class="btn-avatar">
        <span>+</span>
    </button>
</div>