.art-comentario {
    background-color: rgba(188, 224, 224, 0.774);
    margin: 0.9vh;
    padding: 0.5vh;
    width: 95%;
    min-height: 10vh;
    max-height: 23vh;
    display: flex;
    flex-direction: row;
    align-items: top;
    border-radius: 1cap;
}
.bola-comentarios {
    height: 6.5vh;
    width: 6.5vh;
    margin-left: 1.5vh;
}

.div-bola-fortatacao {
    width: 100%;
    height: 100%;
    position: relative;
    padding-top: 0.5vh;
    padding-bottom: 1vh;
}

.span-comentar {
    position: absolute;
    right: 1vh;
    bottom: 1.5vh;
}

.span-comentarios {
    position: absolute;
    left: 0;
    bottom: 1.5vh;
}
