
<article class="art-comentario">
    <button class="BOLA bola-comentarios"></button>
    <div class="div-bola-fortatacao">
        <h3>{{feedback.nomeUsuario}}</h3>
        <p>{{feedback.descricao}}</p>
        <div class="div-comentarios">
            <span class="span-comentarios">{{feedback.numComentarios}} Comentários</span>
            <span class="span-comentar">Comentar</span>
        </div>
    </div>
</article>
<article class="art-comentario">
    <button class="BOLA bola-comentarios"></button>
    <div class="div-bola-fortatacao">
        <h3>ARTIGIGIGI</h3>
        <p>Lorem blablabla</p>
        <div class="div-comentarios">
            <span class="span-comentarios">? Comentários</span>
            <span class="span-comentar">Comentar</span>
        </div>
    </div>
</article>
<article class="art-comentario">
    <button class="BOLA bola-comentarios"></button>
    <div class="div-bola-fortatacao">
        <h3>ARTIGIGIGI</h3>
        <p>Lorem blablabla</p>
        <div class="div-comentarios">
            <span class="span-comentarios">? Comentários</span>
            <span class="span-comentar">Comentar</span>
        </div>
    </div>
</article>