button
{
    height: 5em;
    width: 5em;
    border-radius: 50%;
    aspect-ratio: 1/1;
}

section {
    margin: 1em;
    padding: 1em;
    display: flex;
    border-radius: 0.3em;
    background-color: #d9d9d9;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

section {
    margin: 1em;
    padding: 0.5em;
    display: flex;
    border-radius: 0.3em;
    background-color: #d9d9d9;
    justify-content: space-between;
    width: 80%;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
    
}

section p {
    text-align: justify;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    font-size: 1em;
}

.div-feedback-comentarios {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 0.5em;
    font-size: 0.8em;
}