  <div class="div-lista-feedbacks">

      <div class="div-feedback-card">
        <div class="div-avatar">
             <button class="btn-ver-foto">
                <img src="https://tse2.mm.bing.net/th/id/OIP.Vf6WHnQ9dy5yNxLo-myhDQHaIP?pid=Api&P=0&h=180" alt="foto de perfil do usuario">
            </button>
        </div>
        <div class="div-feedback-conteudo">
          <p class="feedback-usuario">{{feedback.nomeUsuario}}</p>
          <p class="feedback-texto">
            {{feedback.descricao}}
          </p> 
          <div class="div-feedback-inferior">
            <span>{{feedback.numComentarios}} Comentários</span>
            <a href="#">Comentar</a>
          </div>
        </div>
      </div>
    </div>