<header>
    <p>Você Clicou <span id="teste">0</span> vezes </p>
    <button id="botaoContador">contador de cliques</button>
    <h1>Bem Vindo Jovem Gafanhoto</h1>
    <nav>
        <ul>
            <li><a href="index.html">teste1</a></li>
            <li><a href="sobre.html">teste2</a></li>
            <li><a href="contato.html">teste3</a></li>
        </ul>
    </nav>
</header>
<main>
    <button id="botaoPrincipal">clique aqui</button>
    <br>
    <section>
        <h2>talvez eu entenda oque ele estava fazendo aqui?</h2>
        <p>A programação web realmente é confusa</p>
    </section>
    <section>
        <h3>Fontes Confiaveis:</h3>
        <ul>
            <li><a href="https://chatgpt.com/?oai-dm=1">the goat</a></li>
            <li><a href="https://www.instagram.com/">o pai</a></li>
            <li><a href="https://www.linkedin.com/in/joao-victor-melo04/">a fonte das fontes</a></li>
        </ul>
    </section>
</main>
<footer>
    <p>2025 Programador web</p>
    <p>Desenvolvido pelo Joao By Ricardo (Não fui na aula hihih)</p>
</footer>