.div-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
/* background: linear-gradient(180deg, #f1f3f4 0%, #ffffff 100%);*/
    background-color: #f1f3f4;
    background-repeat: no-repeat;
    margin: 0%;
}
.div-formulario {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}
.div-input {
    margin-bottom: 20px;
}
.div-formulario-baixo {
    display: flex;
    flex-direction: column;
    align-items: center;
}
