
<h1>
Seja Bem Vind&#64; à Cantina Senac
</h1>

<form>
    <label for="email">Email Senac:</label>
    <input type="email" id="email" placeholder="email@senac.com">
    <p>
        <label for="password">Senha:</label>
        <input type="password" id="password" placeholder="Sua Senha">
    </p>
</form>
<input type="checkbox" id="lembrearEmail">
<label for="lembrarEmail">Lembre meu Email</label>
<a href="#">
    Esqueci Minha Senha
</a>
<button> Entrar </button>
<a href="#">  
    Ou Cadastre-se
 </a>

