.div-principal{
    display: flex;
    
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
}

.div-formulario{
    background-color: #e0e0eb;
    width: 40%;
    margin-right: 10%;
    font-size: 15px;
    padding: 2rem;
    border-radius: 0.5rem;
}

.div-titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.div-input{
    margin-bottom: 2rem;
}

.div-input label{
    display: block;
    margin-bottom: 0.2rem;
}

.div-input input{
    width: 99%;
    border: none;
    border-radius: 0.2rem;
    padding: 0.2rem;
}

.div-formulario-inferior{
    display: flex;
    justify-content: space-between;

}

a{
    text-decoration: none;
    color: black;
}

.div-lembrar-email{
    display: flex;
}

.div-lembrar-email input{
    margin-right: 0.3rem;
}

.div-button-entrar button{
    margin-top: 2rem;
    width: 9rem;
    padding: 0.3rem;
    border: none;
    border-radius: 0.4rem;
    font-size: 1rem;
}

.div-button-entrar{
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.div-button-entrar button:hover{
    background-color: #d1d1e0;
    cursor: pointer;
    transform: scale(1.02);    /* leve aumento visual */
    transition: all 0.2s ease-in-out;
}

.div-button-entrar button:active {
    background-color: #bfbfd1; /* cor ao clicar */
    transform: scale(0.98);    /* leve redução para simular clique */
}

.div-cadastra-se{
     display: flex;
    justify-content: center;
}