<h1>Seja bem vindo à Cantina Senac</h1>

<form>
    <label for="email">E-mail SENAC:</label>
    <br>
    <input type="email" id="email" placeholder="email@senac.com">
</form>

<br>

<form>
    <label for="Senha">Senha:</label>
    <br>
    <input type="password" id="password" placeholder="senha de 8 dígitos">
</form>

<input type="checkbox" id="lembrarEmail">
<label for="lembrarEmail">Lembre meu email  </label>

<a href="#">Esqueci minha senha</a>

<br>
<br>

<button>Entrar</button>

<br>

<label for="Cadastrar">ou </label>
<a href="#" id="Cadastrar">cadastre-se</a>
