<div class="div-principal">
  <div class="div-formulario">
    <h1>Seja Bem Vind&#64; à Cantina Senac</h1>

    <form>
      <div class="div-input">
        <label for="email">E-mail SENAC:</label>
        <input type="email" id="email" placeholder="email@senac.com">
      </div>


      <div class="div-input">
        <label for="password">Senha:</label>
        <input type="password" id="password" placeholder="Sua senha">
      </div>

    </form>

    <div class="div-formulario-inferior">
      <div>
        <input type="checkbox" id="lembre-me">
        <label for="lembre-me">Lembre meu email</label>
      </div>
      <a class="formulario" href="#">Esqueci minha senha</a>

    </div>

    <button type="submit">Entrar</button>

    <a href="#">Ou Cadastre-se</a>
  </div>

</div>