.div-principal {
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: flex-end;

}

.div-formulario {
    background-color: #e0e0eb;
    width: 40%;
    margin-right: 10%;
    padding: 2rem;

}

.div-titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.div-input {
    margin-bottom: 2rem;
}

.div-input label {
    display: block;
    margin-bottom: 0.2rem;
}

.div-input input {
    width: 80%;
    border: none;
    border-radius: 0.2rem;
    padding: 0.2rem;
}


.div-formulario-inferior {
    display: flex;
    justify-content: space-between;

    margin-bottom: 2rem;
}

a {
    text-decoration: none;
    color: black;
}

.div-lembrar-email {
    display: flex;

}

.div-lembrar-email input {
    margin-right: 0.3rem;
}


.div-button-entrar {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;

}

.div-button-entrar button {
    width: 50%;
    border: none;
    border-radius: 0.2rem;
    padding: 0.5rem;
    background-color: #0a0d0a;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.div-cadastre-se {
    display: flex;
    justify-content: center;
}

