<div class="div-principal">
    <div class="formulario">

        <form>

            <div class="div-input">
                <h1>SEJA BEM VINDO&#64; À CANTINA SENAC!</h1>
                <label for="email">E-mail SENAC:</label>
                <br>
                <input type="email" id="email" placeholder="email@senac.com">
            </div>

            <div class="div-input">
                <label for="senha">Senha:</label>
                <br>
                <input type="password" id="senha" placeholder="Sua senha" />
            </div>
        </form>
        <div class="div-formularioinferior">
            <div>
                <input type="checkbox" id="LembrarEmail">
                <label for="LembrarEmail">Lembrar meu e-mail</label>
            </div>
            <a class="formulario" href="#">Esqueci minha senha!</a>

            <button>ENTRAR</button>

            <label>Ou</label>

            <a href="#">Cadastre-se</a>
        </div>

    </div>