<header>
    <div id="div-header-logo">
        <h2>Cantina</h2>
        <h1>SENAC</h1>
    </div>

    <div id="div-header-frase-efeito">
        <p>Compartilhe seus pensamentos</p>
        <p>com seus colegas</p>
    </div>

    <div id="div-header-avatar">
        <button></button>
        <div id="div-header-avatar-nome">
            <h3>Nome Perfil</h3>
            <a href="javascript:void(0)">Editar perfil</a>
        </div>
    </div>
</header>
<main>
    <h2>Mural de Feedbacks</h2>
    <app-card-feedback></app-card-feedback>
    <section>
        <button></button>
        <div class="div-feedback">
            <h3>Nome do Usuario</h3>
            <p class="div-feedback-descricao">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Unde quis voluptates repellendus non voluptatum iusto nam 
                asperiores explicabo vel praesentium! Iste alias eveniet 
                dicta, saepe quidem perferendis laborum dolorem fuga.
            </p>
            <div class="div-feedback-comentarios">
                <a href="javascript:void(0)">3 Comentário(s)</a>
                <a href="javascript:void(0)">Comentar</a>
            </div>
        </div>
    </section>
    <section>
        <button></button>
        <div class="div-feedback">
            <h3>Nome do Usuario</h3>
            <p class="div-feedback-descricao">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Unde quis voluptates repellendus non voluptatum iusto nam 
                asperiores explicabo vel praesentium! Iste alias eveniet 
                dicta, saepe quidem perferendis laborum dolorem fuga.
            </p>
            <div class="div-feedback-comentarios">
                <a href="javascript:void(0)">3 Comentário(s)</a>
                <a href="javascript:void(0)">Comentar</a>
            </div>
        </div>
    </section>
    <section>
        <button></button>
        <div class="div-feedback">
            <h3>Nome do Usuario</h3>
            <p class="div-feedback-descricao">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Unde quis voluptates repellendus non voluptatum iusto nam 
                asperiores explicabo vel praesentium! Iste alias eveniet 
                dicta, saepe quidem perferendis laborum dolorem fuga.
            </p>
            <div class="div-feedback-comentarios">
                <a href="javascript:void(0)">3 Comentário(s)</a>
                <a href="javascript:void(0)">Comentar</a>
            </div>
        </div>
    </section>
    <section>
        <button></button>
        <div class="div-feedback">
            <h3>Nome do Usuario</h3>
            <p class="div-feedback-descricao">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Unde quis voluptates repellendus non voluptatum iusto nam 
                asperiores explicabo vel praesentium! Iste alias eveniet 
                dicta, saepe quidem perferendis laborum dolorem fuga.
            </p>
            <div class="div-feedback-comentarios">
                <a href="javascript:void(0)">3 Comentário(s)</a>
                <a href="javascript:void(0)">Comentar</a>
            </div>
        </div>
    </section>
    <section>
        <button></button>
        <div class="div-feedback">
            <h3>Nome do Usuario</h3>
            <p class="div-feedback-descricao">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Unde quis voluptates repellendus non voluptatum iusto nam 
                asperiores explicabo vel praesentium! Iste alias eveniet 
                dicta, saepe quidem perferendis laborum dolorem fuga.
            </p>
            <div class="div-feedback-comentarios">
                <a href="javascript:void(0)">3 Comentário(s)</a>
                <a href="javascript:void(0)">Comentar</a>
            </div>
        </div>
    </section>
    <section>
        <button></button>
        <div class="div-feedback">
            <h3>Nome do Usuario</h3>
            <p class="div-feedback-descricao">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Unde quis voluptates repellendus non voluptatum iusto nam 
                asperiores explicabo vel praesentium! Iste alias eveniet 
                dicta, saepe quidem perferendis laborum dolorem fuga.
            </p>
            <div class="div-feedback-comentarios">
                <a href="javascript:void(0)">3 Comentário(s)</a>
                <a href="javascript:void(0)">Comentar</a>
            </div>
        </div>
    </section>
    <section>
        <button></button>
        <div class="div-feedback">
            <h3>Nome do Usuario</h3>
            <p class="div-feedback-descricao">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Unde quis voluptates repellendus non voluptatum iusto nam 
                asperiores explicabo vel praesentium! Iste alias eveniet 
                dicta, saepe quidem perferendis laborum dolorem fuga.
            </p>
            <div class="div-feedback-comentarios">
                <a href="javascript:void(0)">3 Comentário(s)</a>
                <a href="javascript:void(0)">Comentar</a>
            </div>
        </div>
    </section>
</main>
<button class="btn-avatar">
            <span>+</span>
        </button>