<header>
    <div id="div header-logo">  
        <h2>Cantina</h2>
        <h1>Senac</h1>
    </div>
    <div id="div header-frase-efeito">
        <p>Compartilhe seus pensamentos</p>
        <p>Com seus colegas</p>

    </div>
    <div id="div reader-avatar">
        <button></button>
        <div id="div header-avatar-nome">
            <h3>Nome Perfil</h3>
            <a ref="a">Editarperfil</a>
        </div>
    </div>
    </header>
    <main>
        <h2>Mural de FeedBack</h2>
        <section>
            <button></button>
            <div class="div-feedback">
                <h3>Nome do Usuario</h3>
                <p= class="div-feedback-descricao">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                 Maiores, voluptates! Expedita veniam in, excepturi minima culpa temporibus at quam modi atque impedit labore eveniet debitis harum, laborum eligendi libero unde?
                </p>
                <div class="div-feedback-comentarios">
                <a href="javascript:void(0)">3comentarios(s)</a>

                <a href="javascript:void(0)">Comentar</a>
                </div>
            </div>
        </section>

        <section>
            <button></button>
            <div class="div-feedback">
                <h3>Nome do Usuario</h3>
                <p= class="div-feedback-descricao">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                 Hic unde sunt, sequi fugit vero impedit soluta. Rem, nobis commodi reiciendis quo cum fugit vitae ipsa expedita officiis. Praesentium, ut voluptate!
                </p>
                <div class="div-feedback-comentarios">
                <a href="javascript:void(0)">3comentarios(s)</a>

                <a href="javascript:void(0)">Comentar</a>
                </div>
            </div>
        </section>


        <section>
            <button></button>
            <div class="div-feedback">
                <h3>Nome do Usuario</h3>
                <p= class="div-feedback-descricao">
                Lorem ipsum dolor sit amet consectetur,adipisicing elit. Aut, 
                molestiam provident saepe blanditis nobis ratione
                consequuntur eius perspiciatis <span> accusamus sit assumenda</span>
                doloribus ea, maxime et eligendi animi quibusdam.
                </p>
                <div class="div-feedback-comentarios">
                <a href="javascript:void(0)">3comentarios(s)</a>

                <a href="javascript:void(0)">Comentar</a>
                </div>
            </div>
        </section>
    </main>
    <button class="btn-avatar">
          <span></span>
    </button>
      
    
