

/* 🧭 Cabeçalho */
header.cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #DDD; /* cinza médio */
  padding: 10px;
}

.cabecalho-esquerda {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.titulo-cantina {
  font-size: 24px;
  margin: 0;
}

.titulo-senac {
  font-size: 42px;
  margin: 0;
  color: #616451; /* destaque */
}

.cabecalho-centro {
  text-align: center;
  font-size: 21px;
  width: 45%;
  font-weight: bold;
}

.cabecalho-direita {
  display: flex;
  align-items: center;
  gap: 10px;
}

.foto-perfil {
  width: 40px;
  height: 40px;
  background-color: #999; /* cinza forte */
  border-radius: 50%;
}

.info-perfil {
  display: flex;
  flex-direction: column;
}

.info-perfil span {
  font-weight: 600;
  font-size: 14px;
}

.info-perfil a {
  font-size: 13px;
  color: black;
  text-decoration: none;
}

/* 🗣️ Mural de Feedbacks */
section.mural {
  text-align: center;
  padding: 20px;
  font-weight: bold;
  font-size: 20px;
}

/* 🧾 Lista de Feedbacks */
section.conteiner-feedbacks {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding:0 20px 20px;
}



/* ➕ Botão flutuante */
aside .botao-adicionar {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 60px;
  height: 60px;
  background-color: #f5e6b3; /* bege puxando para amarelo fraco */
  color: #000;
  font-size: 32px;
  font-weight: bold;
  border: none;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  cursor: pointer;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease;
}

.botao-adicionar:hover {
  transform: scale(1.1);
}
