.div-esquerda {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;           /* Ocupa toda a largura da tela */
    height: 60px;          /* Altura da faixa */
    background-color: #ccc;
    display: flex;
    flex-direction: row;   /* Conteúdo alinhado da esquerda para a direita */
    align-items: center;   /* Centraliza verticalmente o conteúdo */
    justify-content: flex-start; /* Alinha o conteúdo à esquerda */
    padding-left: 10px;    /* Espaço interno à esquerda */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    justify-content: space-between;
}
.div-centro{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
div.direita{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    position: fixed;
    
}

.btn-avatar{
    height: 5em;
    width: 5em;
    border-radius: 50%;
    position: fixed;
    bottom: 67em;
    right: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-avatar span{
    font-size: 5em;
}

