.btn-avatar {
    /* color:white; */
    height: 5em;
    width: 5em;
    border-radius: 50%;
    position: fixed;
    bottom: 2em;
    right: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-avatar span {
    font-size: 5em;
}