<div class="page-container">
    <header class="top-bar">
        <div class="logo-text">Cantina<br></div>
        <div class="logo-text2"><br><br>Senac</div>
        <div class="share-area">
            Compartilhe seus pensamentos <br>
            com seus colegas
        </div>
        <div class="profile-area">
            <div class="profile-info">
                <span class="username">Arl3quim4JP</span>
                <span class="edit-profile">Editar Perfil</span>
            </div>
            <div class="avatar-placeholder"></div>
        </div>
    </header>

    <h1 class="main-title">Mural de Feedbacks</h1>

    <main class="feedbacks-container">

        <article class="feedback-card">
            <div class="user-info">
                <div class="avatar-placeholder large"></div>
                <span class="user-name">SheldonCooper</span>
            </div>
            <div class="feedback-content">
                <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas at mauris in elit condimentum maximus. Vestibulum nisi felis, volutpat ut porta non, posuere a tellus"</p>
            </div>
            <div class="card-footer">
                <span class="comment-count">3 Comentários</span>
                <button class="comment-button">Comentar</button>
            </div>
        </article>

        <article class="feedback-card large-content">
            <div class="user-info">
                <div class="avatar-placeholder large"></div>
                <span class="user-name">ShaolinMatadorDePorco</span>
            </div>
            <div class="feedback-content">
                <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas at mauris in elit condimentum maximus. Vestibulum nisi felis, volutpat ut porta non, posuere a tellus. Donec ligula nulla, ornare in orci nec, dignissim dapibus erat. Nulla ut ligula vel nisi laoreet vestibulum. Curabitur condimentum molestie commodo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin at lectus quis sem fermentum pulvinar. Etiam ultricies volutpat magna, ac blandit nunc sagittis quis. Phasellus orci nisl, gravida imperdiet mauris sed, condimentum cursus neque."</p>
            </div>
            <div class="card-footer">
                <span class="comment-count">3 Comentários</span>
                <button class="comment-button">Comentar</button>
            </div>
        </article>

        <article class="feedback-card">
            <div class="user-info">
                <div class="avatar-placeholder large"></div>
                <span class="user-name">Leo300</span>
            </div>
            </article>

    </main>

    <button class="floating-button">
        <span>+</span>
        
        
    </button>
</div>