<body>
    <div class="cabecalho">
        <div class="cabecalho-esquerda">
            <h1 class="titulo-cantina">Cantina</h1>
            <h2 class="titulo-senac">Senac</h2>
        </div>
        <div class="cabecalho-centro">Compartilhe seus pensamentos com seus colegas</div>
        <div class="cabecalho-direita">
            <div class="foto-perfil"></div>
            <div class="info-perfil">
                <span>Nome do Perfil</span>
                <a href="#">Editar Perfil</a>
            </div>
        </div>
    </div>

    <div class="mural">Mural de feedbacks</div>

    <div class="conteiner-feedbacks">
        <!--Conteiner 01 Feedbacks-->
        <div class="feedback">
            <div class="foto-feedback"></div>
            <div class="conteudo-feedback">
                <h3>Galo Cego</h3>
                <p>"Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis perferendis ab recusandae,
                    officia temporibus rem ea tempore voluptatem, velit culpa aliquid ex? Adipisci sunt qui quos
                    sapiente sint pariatur fuga! Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde iste
                    dignissimos minima numquam magnam suscipit libero necessitatibus optio consequatur ea, sint odio cum
                    saepe totam fugit accusantium cumque! Omnis, modi."</p>
                <div class="rodape-feedback">
                    <span>3 Comentários</span>
                    <span>Comentar</span>
                </div>
            </div>
        </div>
    </div>

    <div class="conteiner-feedbacks">
        <!--Conteiner 02 Feedbacks-->
        <div class="feedback">
            <div class="foto-feedback"></div>
            <div class="conteudo-feedback">
                <h3>Shaolin Matador de Cachorras</h3>
                <p>"Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis perferendis ab recusandae,
                    officia temporibus rem ea tempore voluptatem, velit culpa aliquid ex? Adipisci sunt qui quos
                    sapiente sint pariatur fuga! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt qui
                    aut temporibus modi facilis sequi, voluptas maxime vitae harum nihil libero. Asperiores molestiae
                    vitae dolore, consequatur aliquid architecto repellat illo?</p>
                <div class="rodape-feedback">
                    <span>3 Comentários</span>
                    <span>Comentar</span>
                </div>
            </div>
        </div>
    </div>

    <div class="conteiner-feedbacks">
        <!--Conteiner 03 Feedbacks-->
        <div class="feedback">
            <div class="foto-feedback"></div>
            <div class="conteudo-feedback">
                <h3>Maickon Jackson Au</h3>
                <p>"Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis perferendis ab recusandae,
                    officia temporibus rem ea tempore voluptatem, velit culpa aliquid ex? Adipisci sunt qui quos
                    sapiente sint pariatur fuga! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eius est
                    porro quibusdam ipsam dicta. Natus excepturi quisquam ipsa cumque, similique nihil eum, odio iusto
                    mollitia cum dolorum pariatur nobis autem?"</p>
                <div class="rodape-feedback">
                    <span>3 Comentários</span>
                    <span>Comentar</span>
                </div>
            </div>
        </div>
    </div>

    <div class="conteiner-feedbacks">
        <!--Conteiner 04 Feedbacks-->
        <div class="feedback">
            <div class="foto-feedback"></div>
            <div class="conteudo-feedback">
                <h3>Exterminador do Futuro</h3>
                <p>"Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis perferendis ab recusandae,
                    officia temporibus rem ea tempore voluptatem, velit culpa aliquid ex? Adipisci sunt qui quos
                    sapiente sint pariatur fuga! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eius est
                    porro quibusdam ipsam dicta. Natus excepturi quisquam ipsa cumque, similique nihil eum, odio iusto
                    mollitia cum dolorum pariatur nobis autem?"</p>
                <div class="rodape-feedback">
                    <span>3 Comentários</span>
                    <span>Comentar</span>
                </div>
            </div>
        </div>
    </div>

    <div class="conteiner-feedbacks">
        <!--Conteiner 05 Feedbacks-->
        <div class="feedback">
            <div class="foto-feedback"></div>
            <div class="conteudo-feedback">
                <h3>Maria vai com as Outras</h3>
                <p>"Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis perferendis ab recusandae,
                    officia temporibus rem ea tempore voluptatem, velit culpa aliquid ex? Adipisci sunt qui quos
                    sapiente sint pariatur fuga! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eius est
                    porro quibusdam ipsam dicta. Natus excepturi quisquam ipsa cumque, similique nihil eum, odio iusto
                    mollitia cum dolorum pariatur nobis autem?"</p>
                <div class="rodape-feedback">
                    <span>3 Comentários</span>
                    <span>Comentar</span>
                </div>
            </div>
        </div>
    </div>
    <button class="botao-adicionar">+</button>

</body>