<div class="div-pricipal">
    <header>
        <div class="div-container">

            <div class="div-logo">
                <p>Cantina <span class="palavra-destacada">Senac</span></p>
            </div>

            <div class="div-titulo">
                <p>Compartilhe seus pensamentos com seus colegas</p>
            </div>

            <div class="div-perfil">
                <div class="div-fotoPerfil"></div>

                <div class="div-espaco">
                    <p>Arl3quin4JP</p>
                    <a href="#">Editar Perfil</a>
                </div>
            </div>

        </div>
    </header>
    <main>
        <div class="div-inicio">
            <h2>Mural de Feedbacks</h2>
        </div>
        <button class="btn-avatar">
            <span>+</span>
        </button>
    </main>
</div>